.sp-media-progress {
  display: flex;
  width: 100%;
  padding-inline: 4.5rch;
  font-size: 0.9rem;
  text-shadow: none;
}

.sp-media-progress__timeline {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: start;
}

.sp-media-progress__rail {
  position: absolute;
  width: calc(100% + 1em);
  margin-inline: -0.5em;
  height: 0.3rem;
}

.sp-media-progress__marker {
  --item-size: 1.5rem;
  width: var(--item-size);
  height: auto;
  position: relative;
  left: calc((100% - var(--item-size)) * var(--song-progress));
  filter: drop-shadow(0 0 0 black);
  margin-top: calc(-1 * var(--marker-height-ratio) * var(--item-size));
  @media not (prefers-reduced-motion) {
    transition: left ease-in-out 1s;
  }
}

.sp-media-progress__elapsed,
.sp-media-progress__song-length {
  display: block;
  --inline-padding: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  padding-inline: var(--inline-padding);
  font-weight: bold;
}

.sp-media-progress__elapsed {
  text-align: start;

  min-width: calc(var(--min-duration-width) + 2 * var(--inline-padding));
}
.sp-media__song-length {
  text-align: center;
}
