.media {
  display: flex;
  position: relative;
  height: 100%;
  padding-inline: 12%;
}
.media__background {
  width: 100%;
  height: auto;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: -20%;
}

.media__content {
  z-index: 1;
  display: grid;
  grid-template:
    "info controls" auto
    "progress progress" auto / auto min-content;
  column-gap: 0.25rem;
  row-gap: 0;
}

.media--banner-common {
  -webkit-text-stroke-color: var(--common-text-stroke-color);

  .media__progress {
    color: var(--common-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--common-text-stroke-color);
  } */
}

.media--banner-uncommon {
  -webkit-text-stroke-color: var(--uncommon-text-stroke-color);

  .media__progress {
    color: var(--uncommon-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--uncommon-text-stroke-color);
  } */
}

.media--banner-rare {
  -webkit-text-stroke-color: var(--rare-text-stroke-color);

  .media__progress {
    color: var(--rare-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--rare-text-stroke-color);
  } */
}

.media--banner-ancient {
  -webkit-text-stroke-color: var(--ancient-text-stroke-color);

  .media__progress {
    color: var(--ancient-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--ancient-text-stroke-color);
  } */
}

.media--banner-curse {
  -webkit-text-stroke-color: var(--curse-text-stroke-color);

  .media__progress {
    color: var(--curse-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--curse-text-stroke-color);
  } */
}

.media--banner-status {
  -webkit-text-stroke-color: var(--status-text-stroke-color);

  .media__progress {
    color: var(--status-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--status-text-stroke-color);
  } */
}

.media--banner-event {
  -webkit-text-stroke-color: var(--event-text-stroke-color);

  .media__progress {
    color: var(--event-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--event-text-stroke-color);
  } */
}

.media--banner-quest {
  -webkit-text-stroke-color: var(--quest-text-stroke-color);

  .media__progress {
    color: var(--quest-plaque-text-color);
  }

  /* .media__timeline-line {
    border-color: var(--quest-text-stroke-color);
  } */
}

.media__track-info {
  grid-area: info;
  display: flex;
  align-items: center;
  .sp-note {
    width: 26ch;
    padding: 0;
    display: flex;
    font-size: 1.1rem;
    align-items: center;
    justify-content: start;
    text-align: start;
    .outlined-text > * {
      overflow: hidden;
      text-wrap-mode: nowrap;
      text-overflow: ellipsis;

      max-width: 100%;
    }
  }
}

.media__progress {
  grid-area: progress;
  display: flex;
  width: 100%;
  padding-inline: 4.5rch;
  align-items: center;
  font-size: 0.9rem;
  text-shadow: none;
}

.media__timeline {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.media__timeline-line {
  position: absolute;
  width: calc(100% + 1em);
  margin-inline: -0.5em;
  z-index: -1;
  height: 0.3rem;
}

.media__time-marker {
  --icon-size: 1.5rem;
  width: var(--icon-size);
  height: auto;
  position: relative;
  left: calc((100% - var(--icon-size)) * var(--song-progress));
  @media not (prefers-reduced-motion) {
    transition: left linear 1s;
  }
}
.media--flame .media__time-marker {
  position: relative;
  left: calc((100% - var(--icon-size)) * var(--song-progress));
  filter: drop-shadow(0px 0px 0px black);
  margin-top: calc(-1 * ((76 - 49) / 49) * var(--icon-size));
}

.media__elapsed,
.media__song-length {
  display: block;
  min-width: calc(var(--min-duration-width) + 2 * var(--inline-padding));
  --inline-padding: 0.4em;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
  padding-inline: var(--inline-padding);
  font-weight: bold;
}

.media__elapsed {
  text-align: start;
}
.media__song-length {
  text-align: center;
}

.media__controls {
  grid-area: controls;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  text-align: center;
}
