.tooltip {
  display: inline-flex;
  position: relative;
  align-items: start;
  height: 100%;
  padding-block: 3px;

  .tooltip__box {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    width: max-content;

    background: #222E33;
    border-width: 3px;
    border-style: solid;
    border-left-color: #475D66;
    border-right-color: #475D66;
    border-top-color: #516B76;
    border-bottom-color: #31505C;
    border-radius: 5px;
    padding: 4px;
    text-align: left;
    /* color: #FFF6E2; */
    text-shadow: oklch(0 0 0 / 0.72) 2px 1px 0px;
    box-shadow: inset oklch(0 0 0 / 0.25) 0px 0px 4px;


    &, .anchor-tooltips-block-end & {
      inset-block-end: 0;
    }

    .anchor-tooltips-block-start & {
      inset-block-start: 0;
      inset-block-end: unset;
    }

    &, .anchor-tooltips-inline-start & {
      inset-inline-start: 0;
    }

    .anchor-tooltips-inline-end & {
      inset-inline-end: 0;
      inset-inline-start: unset;
    }
  }
  
  &.tooltip--focal:is(:hover, :focus-within) > .tooltip__box {
    visibility: visible;
  }
}

