.menubar {
  text-wrap-mode: nowrap;

  .menubar__background {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    background-size: auto 55px;
    background-position: top left;
    background-repeat: repeat-x;
    background-image: url(https://spire-codex.com/static/images/ui/top_bar/top_bar.webp);
  }
  .menubar__content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    background: transparent;
    align-items: stretch;
    padding-inline: 1rch;
    position: relative;
  }
}
