:root {
  --default-font-family: Kreon, Georgia, sans-serif;
  --default-font-size: 12px;
  --default-font-weight: 400;
  --default-font: var(--default-font-weight) var(--default-font-size)
    var(--default-font-family);

  --app-height: calc(14 / 3 * 1rem);
  --item-size: 2rem;
  --hover-scale: 1.25;
  --hover-transition: transform 0.1s;
  --item-padding: 0;
  --border-radius: 0.25rem;
  --item-scale-margin: calc(var(--item-size) * (var(--hover-scale) - 1) / 2);
  --text-stroke-width: round(up, 0.2em, 1px);
  --text-stroke-padding: calc(var(--text-stroke-width) / 2);
  --normal-drop-shadow: drop-shadow(0.2rem 0.2rem 0 hsla(0, 0%, 0%, 0.25));

  --button-pulse-rgb: 100, 255, 255;

  --map-circle-color: #2a2521;
  --normal-text-color: #fff6e2;
  --keyword-text-color: #efc851;
  --upgrade-text-color: #7efd01;
  --variable-text-color: #87ceeb;
  --normal-stroke-color: #373737;
  --red-stroke-color: #881f20;
  --exhaust-stroke-color: #341f2f;
  --bar-stroke-color: #1c2b31;
  --button-stroke-color: #a16d15;
  --legend-keyword-text-color: #15293e;
  --legend-text-color: #294667;

  --common-text-stroke-color: #4e4a39;
  --common-plaque-text-color: #282828;
  --uncommon-text-stroke-color: #05566a;
  --uncommon-plaque-text-color: #093f3f;
  --rare-text-stroke-color: #684d05;
  --rare-plaque-text-color: #4f3100;
  --ancient-text-stroke-color: #514d3d;
  --ancient-plaque-text-color: #202a2e;
  --curse-text-stroke-color: #4e1283;
  --curse-plaque-text-color: #32184a;
  --status-text-stroke-color: #4d4d2d;
  --status-plaque-text-color: #2e2511;
  --event-text-stroke-color: #245e30;
  --event-plaque-text-color: #0c3c0f;
  --quest-text-stroke-color: #853f20;
  --quest-plaque-text-color: #541709;
  --token-text-stroke-color: #504c40;
  --token-plaque-text-color: #262626;
}
