:root {
  --icon-size: 2rem;
  --image-size: var(--icon-size);
  --hover-scale: 1.2;
  --hover-transition: transform .1s;
  --item-padding: 0px;
  --icon-scale-margin: round(up, calc(var(--icon-size) * (var(--hover-scale) - 1) / 2), 1px);
  --text-stroke-width: round(up, 0.2em, 1px);
  --text-stroke-padding: calc(var(--text-stroke-width) / 2);
  --normal-text-color: #FFF6E2;
  --heading-text-color:#EFC851;
  --upgrade-text-color: #7EFD01;
  --variable-text-color: #87CEEB;
  --normal-stroke-color: #373737;
  --red-stroke-color: #881F20;
  --exhaust-stroke-color: #341F2F;
  --bar-stroke-color: #1C2B31;
  --button-stroke-color: #a16d15;
  --legend-heading-text-color: #15293E;
  --legend-text-color: #294667;
  --rarity-color-uncommon: #64ffff;
  --normal-drop-shadow: drop-shadow(.2rem .2rem 0 hsla(0, 0%, 0%, .25));
}