.pile-button {
  line-height: 1rem;
  -webkit-text-stroke-color: var(--exhaust-stroke-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .spire-image {
    height: var(--icon-size);
    position: absolute;
  }
}
