.potion-belt {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0;
    margin-top: .15rem;
    .potion-belt__left-bookend, .potion-belt__center-background, .potion-belt__right-bookend {
        height: 2.5rem;
    }
    .potion-belt__center-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 0;
        overflow: hidden;
    }
    .potion-belt__tray {
        position: relative;
        display: flex;
    }
    .potion-belt__content {
        display: flex;
        z-index: 1;
    }
}