.sp-exhaust-button {
  line-height: 1rem;
  -webkit-text-stroke-color: var(--exhaust-stroke-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .sp-exhaust-button__icon {
    height: var(--item-size);
    position: absolute;
  }
}
