.system-tray {
    height: 2.5rem;
    --image-size: 1rem;
    margin-top: .15rem;

    .system-tray__interior {
        .system-tray--expand-start & {
            flex-direction: row;
        }

        .system-tray--expand-end & {
            flex-direction: row-reverse;
        }

        display: flex;
        height: 100vh;
    }

    .system-tray__expander img {
        height: var(--image-size);
        width: var(--image-size);
    }

    .system-tray__icons {
        display: flex;
        z-index: 1;
    }
}