body {
  color: #FFF6E2;
  text-shadow: oklch(0 0 0 / 0.72) 2px 1px 0px;
  font-family: sans-serif;
  font-size: 12px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
}

.app {
  text-align: center;
  display: block;
}

.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  background: transparent;
  align-items: stretch;
  gap: 1px;
  background-color: rgba(0, 0, 0, 0.75);
}

.bar {
  border: 1px solid #111B20;
  border-top: none;
}

.bar__inner {
  padding: 3px;
  background: #2A424D;
  border: 3px solid #304C59;
  border-top: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.app--no-binding-mode .bar, .app--no-binding-mode .bar__inner {
  border-color: transparent;
  background-color: transparent;
}

.menu-item {
  display: inline-block;
  background: none;
  border: none;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  flex-direction: row;
  justify-self: center;
}

.section:first-child {
  justify-self: start;
  justify-content: start;
}
.section:first-child .bar:first-child {
  border-inline-start: none;
}

.section:last-child {
  justify-self: end;
  justify-content: end;
}
.section:last-child .bar:last-child {
  border-inline-start: none;
}

.spireology-icon {
  width: 2em;
  height: 2em;
  flex: 0 0 auto;
  position: absolute;
  top:0;
  left:0;
}

.spireology-icon__image {
  image-rendering: auto;
}

.outlined-text {
  display: inline-block;
  position: relative;
  -webkit-text-stroke-width: round(up, 0.2em, 1px);
  -webkit-text-stroke-color: black;
}

.outlined-text__foreground {
  z-index: 21;
  position: relative;
  -webkit-text-stroke-width: inherit;
  -webkit-text-stroke-color: transparent;
}
.outlined-text__background {
  z-index: 20;
  -webkit-text-stroke-width: inherit;
  -webkit-text-stroke-color: inherit;
  position: absolute;
  right: 0;
}

.tooltip-shrinkwrap {
  display: inline-block;
  position: relative;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  transition: visibility 0s;
  z-index: 100;
  width: max-content;

  background: #222E33;
  border-width: 3px;
  border-style: solid;
  border-left-color: #475D66;
  border-right-color: #475D66;
  border-top-color: #516B76;
  border-bottom-color: #31505C;
  border-radius: 5px;
  padding: 5px;
  color: #FFF6E2;
  text-shadow: oklch(0 0 0 / 0.72) 2px 1px 0px;
  box-shadow: inset oklch(0 0 0 / 0.25) 0px 0px 4px;
}
.section:not(:last-child) .tooltip {
  left: calc(100% - 0.5em);
}
.section:last-child .tooltip {
  right: calc(100% - 0.5em);
}

[aria-describedby]:hover + .tooltip,
[aria-describedby]:focus-visible + .tooltip,
.tooltip:hover
.tooltip:focus {
  visibility: visible;
  transition: visibility 0.5s;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  min-width: 2em;
  min-height: 2em;
}

.status__suffix {
  line-height: 1em;
  margin-left: 1em;
  z-index: 10;
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: #FFF6E2;
}

.status__suffix-inner {
  display: block;
}

.workspaces .bar__inner {
  display: flex;
  gap: 3em;
  justify-items: space-around;
}

.battery__outer {
  background-image: url("../resources/StS2_EnergyDefect.webp");
  mask-image: url("../resources/StS2_EnergyDefect.webp");
  mask-size: contain;
  background-size: contain;
  mask-position: left top;
  width: 30.5px;
  height: 31px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.battery--charging * {
  color: lightgreen;
}

.battery--discharging * {
  color: coral;
}

.audio-muted-icon {
  z-index: 100;
}