body {
  overflow: hidden;
}

:root {
  color: #FFF6E2;
  text-shadow: #000000b8 2px 1px 0px;
  -webkit-text-stroke-color: #373737;
  font-family: Kreon, Georgia, sans-serif;
  font-size: 12px;
  --icon-size: 2rem;
}

html,
body,
#root {
  height: 100%;
}

.app {
  text-align: center;
  display: block;
}

.app {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  background: transparent;
  align-items: stretch;
  padding-top: 3px;
  padding-left: 3rch;
  padding-right: 3rch;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  background-size: contain;

  &:not(.app--no-binding-mode) {
    background-image: url(https://spire-codex.com/static/images/ui/top_bar/top_bar.webp);
  }
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: start;
  height: 100%;
  gap: 0.5rch;
}

.section {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-around;
  gap: 3rch;
}

.section:first-child {
  justify-self: start;
  justify-content: start;
}
.section:first-child .bar:first-child {
  border-inline-start: none;
}

.section:last-child {
  justify-self: end;
  justify-content: end;
}
.section:last-child .bar:last-child {
  border-inline-start: none;
}

.outlined-text {
  display: inline-block;
  position: relative;
  -webkit-text-stroke-width: round(up, 0.2em, 1px);
  
  .outlined-text__foreground {
    z-index: 21;
    position: relative;
    -webkit-text-stroke-width: inherit;
    -webkit-text-stroke-color: transparent;
  }
  
  .outlined-text__background {
    z-index: 20;
    -webkit-text-stroke-width: inherit;
    -webkit-text-stroke-color: inherit;
    position: absolute;
    left: 0;
    top: 0;
  }
}


.tooltip-shrinkwrap {
  display: inline-block;
  position: relative;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  top: 0;
  transition: visibility 0s;
  z-index: 100;
  width: max-content;

  background: #222E33;
  border-width: 3px;
  border-style: solid;
  border-left-color: #475D66;
  border-right-color: #475D66;
  border-top-color: #516B76;
  border-bottom-color: #31505C;
  border-radius: 5px;
  padding: 5px;
  /* color: #FFF6E2; */
  text-shadow: oklch(0 0 0 / 0.72) 2px 1px 0px;
  box-shadow: inset oklch(0 0 0 / 0.25) 0px 0px 4px;

  .section:not(:last-child) & {
    left: calc(100% - 0.5em);
  }

  .section:last-child & {
    right: calc(100% - 0.5em);
  }
}

[aria-describedby]:hover + .tooltip,
[aria-describedby]:focus-visible + .tooltip,
.tooltip:hover
.tooltip:focus {
  visibility: visible;
  transition: visibility 0.5s;
}

.menu-item {
  display: inline-block;
  background: unset;
  border: unset;
  line-height: unset;
  padding: unset;
  margin: unset;
  color: unset;
}

.status {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  min-width: var(--icon-size);
  min-height: var(--icon-size);

  .status__image {
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    top:0;
    left:0;
  }

  .status__suffix {
    line-height: 1em;
    margin-left: calc(var(--icon-size) / 2);
    z-index: 10;
    display: block;
    text-align: end;
  }

  .status__suffix-inner {
    display: block;
  }
}


.workspaces {
  display: flex;
  gap: 2rem;
  justify-items: space-around;
  z-index: 10;
  .workspace__background {
    width: var(--icon-size);
    height: var(--icon-size);
    position: absolute;
    --icon-size: 3.5rem;
    top: -.75em;
    left: -.75em;
    z-index: -1;
  }

}

.battery--charging {
  color: rgb(136, 204, 170);
}

.battery--discharging {
  color: rgb(224, 136, 136);
}

.datetime {
  color: #EFC851;
  -webkit-text-stroke-color:#1C2B31;

  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.audio__muted-mark {
  width: var(--icon-size);
  height: var(--icon-size);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}