.sp-button {
  position: relative;
  display: flex;
  inline-size: fit-content;
  block-size: fit-content;

  &:has(> button:not(:disabled):hover) {
    transform: scale(var(--hover-scale));
  }
}
.sp-button > button {
  z-index: 1;
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  border-radius: var(--icon-scale-margin);
  padding: var(--item-padding);
  display: flex;

  &:not(:disabled) {
    &:not(:active) {
      filter: var(--normal-drop-shadow);
    }
    text-shadow: none;
  }

  @media not (prefers-reduced-motion) {
    transition: var(--hover-transition);
  }

  > * {
    position: relative;
    z-index: 10;
  }
}

.sp-button__pulse {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: var(--icon-scale-margin);
}

.sp-button--toggle {
  --pulse-size: calc(4 * var(--icon-scale-margin));
  --pulse-rgb: 100, 255, 255; 

  &:not(.sp-button--inverted):has(> button:is([aria-pressed=false], [aria-expanded=false])),
  &.sp-button--inverted:has(> button:is([aria-pressed=true], [aria-expanded=true])) {
    filter: grayscale(1);
  }

  &:has(> button:is([aria-pressed=true],[aria-expanded=true])) > .sp-button__pulse {
    @media (prefers-reduced-motion)
    {        
      box-shadow:
          0px 0px 0px 0px rgba(var(--pulse-rgb), .75),
          0px 0px 0px calc(1 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .5),
          0px 0px 0px calc(2 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .25),
          0px 0px 0px calc(3 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .125);
    }

    @media not (prefers-reduced-motion)
    {
        animation-name: active-pulse;
        animation-timing-function: linear;
        animation-duration: .5s;
        animation-play-state: running;
        animation-iteration-count: infinite;
        animation-fill-mode: backwards;
        animation-direction: normal;
        animation-delay: 0s;
    }
  }
}

@keyframes active-pulse {
    0% {
      box-shadow:
          0px 0px 0px 0px rgba(var(--pulse-rgb), .75),
          0px 0px 0px calc(1 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .5),
          0px 0px 0px calc(2 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .25),
          0px 0px 0px calc(3 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .125);
    }
    100% {
      box-shadow:
          0px 0px 0px calc(1 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .5),
          0px 0px 0px calc(2 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .25),
          0px 0px 0px calc(3 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), .125),
          0px 0px 0px calc(4 / 4 * var(--pulse-size)) rgba(var(--pulse-rgb), 0);
    }
}