.sp-button {
  position: relative;
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  border-radius: 3px;
  padding: var(--item-padding);

  &[aria-disabled] {
    margin-inline: 0;
  }

  &:not([aria-disabled]) {
    &:hover {
      transform: scale(var(--hover-scale));
    }
  }

  @media not (prefers-reduced-motion) {
    transition: var(--hover-transition);
  }
}
