.glazewm-binding-mode--inactive {
    filter: grayscale(1);
}
.glazewm-binding-mode--active {
    box-shadow: var(--fallback-active-pulse-box-shadow);

    @media not (prefers-reduced-motion)
    {
        animation: var(--active-pulse-animation);
    }
}
