.glazewm-pause--unpaused {
    filter: grayscale(1);
}
.glazewm-pause--paused {
    box-shadow: var(--fallback-active-pulse-box-shadow);

    @media not (prefers-reduced-motion)
    {
        animation: var(--active-pulse-animation);
    }
}
