.outlined-text {
  display: inline-block;
  position: relative;
  -webkit-text-stroke-width: round(up, 0.2em, 1px);
  
  .outlined-text__foreground {
    z-index: 21;
    position: relative;
    -webkit-text-stroke-width: inherit;
    -webkit-text-stroke-color: transparent;
  }
  
  .outlined-text__background {
    z-index: 20;
    -webkit-text-stroke-width: inherit;
    -webkit-text-stroke-color: inherit;
    position: absolute;
    left: 0;
    top: 0;
  }
}