.sp-outlined-text {
  display: grid;
  -webkit-text-stroke-width: var(--text-stroke-width);
  padding: var(--text-stroke-padding);
  * {
    grid-column-start: 1;
    grid-row-start: 1;
    padding: var(--text-stroke-padding);
    margin: calc(-1 * var(--text-stroke-padding));

    overflow: inherit;
    text-wrap-mode: inherit;
    text-overflow: inherit;
  }
  .sp-outlined-text__foreground {
    -webkit-text-stroke-width: inherit;
    -webkit-text-stroke-color: transparent;
  }

  .sp-outlined-text__background {
    -webkit-text-stroke-width: inherit;
    -webkit-text-stroke-color: inherit;
  }
}
