
.power {
  .power__image {
    position: absolute;
    bottom:0;
    left:0;
  }
}

.power {
  margin-block: var(--block-margin);
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  padding-inline-start: calc(var(--icon-size) / 2);
}