.sp-power {
  margin-block: var(--block-margin);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;

  height: var(--item-size);
  min-width: var(--item-size);
  isolation: isolate;
}

.sp-power__label {
  z-index: 5;
  text-align: start;
  margin-inline-start: calc(var(--item-size) / 2);
}

.sp-power__icon-set {
  overflow: visible;
  display: grid;
  align-self: start;

  > * {
    grid-row-end: 1;
    grid-column-end: 1;
  }
}

.sp-power__icon {
  margin-top: calc(-1 * var(--item-size));
}
