.stretch-box {
    display: grid;
    > * {
        grid-row-start: 1;
        grid-column-start: 1;
    }
}

.stretch-box__position-wrapper {
    position: relative;
}
.stretch-box__background {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0;
    align-items: stretch;
    justify-content: stretch;
    & > * {
        height: 100%;
    }
    z-index: 0;
}
.stretch-box__anchor {
    z-index: 10;
}
.stretch-box__left-bookend, .stretch-box__right-bookend {
    flex: 0 0 auto;
}
.stretch-box__center-background {
    flex: 1 0 0px;
}