.stretch-box {
}

.stretch-box__grid {
    display: grid;
    grid-template: "all" 100% / 100%;
}
.stretch-box__background-wrapper {
    position: relative;
    grid-row-start: all;
    grid-column-start: all;
}
.stretch-box__background {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 0;
    align-items: stretch;
    justify-content: stretch;
    & > * {
        height: 100%;
    }
    
}
.stretch-box__left-bookend, .stretch-box__right-bookend {
    flex: 0 0 auto;
}
.stretch-box__center-background {
    flex: 1 0 0px;
}
.stretch-box__content {
    
    grid-row-start: all;
    grid-column-start: all;
}