
.menu-item {
  display: inline-block;
  background: unset;
  border: unset;
  line-height: inherit;
  padding: unset;
  margin: unset;
  color: unset;
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  width: auto;
  height: min-content;
}
