
.menu-item {
  position: relative;
  display: inline-block;
  background: unset;
  border: unset;
  line-height: inherit;
  padding: unset;
  margin: unset;
  color: unset;
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  width: auto;
  height: min-content;
  border-radius: 3px;
  padding: 1px;

  &:not([aria-disabled]) {
    &:hover {
      transform: scale(1.2);
    }
  }

  @media not (prefers-reduced-motion) {
    transition: transform .1s;
  }
}
