body {
  overflow: hidden;
}

:root {
  color: #FFF6E2;
  text-shadow: #000000b8 2px 1px 0px;
  -webkit-text-stroke-color: #373737;
  font-family: Kreon, Georgia, sans-serif;
  font-size: 12px;
  --icon-size: 2rem;
  --image-size: var(--icon-size);
}

html,
body,
#root {
  height: 100%;
}

button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: unset;
  appearance: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.column {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-around;
  gap: 3rch;
  line-height: 1em;
}

.column:first-child {
  justify-self: start;
  justify-content: start;
}

.column:last-child {
  justify-self: end;
  justify-content: end;
}
.column:last-child {
  border-inline-start: none;
}

:focus-visible {
  outline: #FFF solid 1px;
  box-shadow: #FFF 0 0 5px, inset #FFF 0 0 5px;
}

h1, h2 {
  color: #EFC851;
  display: inline;
  &:not(:first-child) {
    margin-inline-start: 1ch;
  }
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1.1em;
}

em {
  color: #7EFD01;
}

strong {
  color: #87CEEB;
}