body {
  overflow: hidden;
}

:root {
  font-family: Kreon, Georgia, sans-serif;
  text-shadow: oklch(0 0 0 / 0.72) 2px 1px 0px;
  font-size: 12px;
  --icon-size: 2rem;
  --image-size: var(--icon-size);
  --hover-scale: 1.2;
  --hover-transition: transform .1s;
  --item-padding: 0px;
  --icon-scale-margin: round(up, calc(var(--icon-size) * (var(--hover-scale) - 1) / 2), 1px);
  line-height: normal;
  cursor: url(https://cdn.spire-codex.com/ui/cursors/cursor_default.png), default;

  --normal-text-color: #FFF6E2;
  --heading-text-color:#EFC851;
  --upgrade-text-color: #7EFD01;
  --variable-text-color: #87CEEB;
  --normal-stroke-color: #373737;
  --bar-stroke-color: #1C2B31;
  --button-stroke-color: #a16d15;
  --legend-heading-text-color: #15293E;
  --legend-text-color: #294667;
  -webkit-text-stroke-color: var(--normal-stroke-color);
  color: var(--normal-text-color);
}

html,
body,
#root {
  height: 100%;
}

button, [type='button'], [type='reset'], [type='submit'] {
  background: unset;
  border: unset;
  padding: unset;
  margin: unset;
  color: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  &:not([aria-disabled="true"]) {
    cursor: url(https://cdn.spire-codex.com/ui/cursors/cursor_titled.png), pointer;
  }
}

.column {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-around;
  gap: 1rch;
}

.column:first-child {
  justify-self: start;
  justify-content: start;
}

.column:last-child {
  justify-self: end;
  justify-content: end;
}
.column:last-child {
  border-inline-start: none;
}

:focus-visible {
  outline: #FFF solid 1px;
  box-shadow: #FFF 0 0 5px, inset #FFF 0 0 5px;
}

h1, h2, .gold-text {
  color: var(--heading-text-color);
  display: inline;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

em {
  color: var(--upgrade-text-color);
}

strong {
  color: var(--variable-text-color);
}