@import "../../util/variables.css";

body {
  overflow: hidden;
}

:root {
  line-height: normal;
  font: var(--default-font);
  color: var(--normal-text-color);
  -webkit-text-stroke-color: var(--normal-stroke-color);
}

html,
body,
#root,
.sp-app {
  height: var(--app-height);
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background: unset;
  border: unset;
  padding: unset;
  margin: unset;
  color: unset;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-shadow: inherit;
}

.column {
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-around;
}

.column:first-child {
  justify-self: start;
  justify-content: start;
}

.column:last-child {
  justify-self: end;
  justify-content: end;
}
.column:last-child {
  border-inline-start: none;
}

:focus-visible {
  outline: #fff solid 1px;
  box-shadow:
    #fff 0 0 0.4rem,
    inset #fff 0 0 0.4rem;
}

h1,
h2,
.gold-text {
  color: var(--keyword-text-color);
  display: inline;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

em {
  color: var(--upgrade-text-color);
}

strong {
  color: var(--variable-text-color);
}
