.sp-workspaces {
  background-size: 100% auto;

  display: grid;
  grid-template-columns: 10fr 80fr 10fr;
  background-size: 120%;
  background-position: top 0 left 40%;

  --max-node-size: max(var(--max-node-width), var(--max-node-height));
  --graphic-scale: calc(var(--item-size) / var(--max-node-height));
  --scaled-graphic-width: calc(var(--graphic-scale) * var(--graphic-width));
  --scaled-graphic-height: calc(var(--graphic-scale) * var(--graphic-height));

  &::before {
    content: "";
  }
  &::after {
    content: "";
  }

  .sp-workspaces__content {
    display: flex;
    min-width: 40rch;
    gap: calc(
      var(--graphic-scale) * (var(--graphic-width) - var(--max-node-width)) /
        2 + 0.2rem
    );
    justify-content: space-between;
    align-items: end;
    padding-block-end: var(--item-scale-margin);
  }
}
