.workspace-shrinkwrap {
  --image-width: calc(var(--graphic-scale) * var(--node-width));

  --image-height: calc(var(--graphic-scale) * var(--node-height));

  position: relative;
  display: flex;
  align-self: flex-end;
  align-items: end;

  &:has(button:not(:disabled):hover) {
    .map-node {
      transform: scale(var(--hover-scale));
    }
  }

  .workspace__button {
    z-index: 1;
    color: #d8c5a6;
    -webkit-text-stroke-color: #2a2521;
    align-items: end;
    min-width: calc(var(--graphic-scale) * var(--max-node-width));

    --power-size: max(var(--image-height), var(--icon-size));
    .power {
      --icon-size: var(--image-height);
    }
  }

  .map-node {
    @media not (prefers-reduced-motion) {
      transition: var(--hover-transition);
    }
  }
}
